@font-face {
  font-family: "my-font";
  src: url('../font/Arvo-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: 'my-font'!important;
}

#app {
  text-align: center;
  color: red;
}
#app2 {
  text-align: center;
}
body {
  background: #fff;
}

.head-img {
  width: 150px;
  height: 150px;
  background-image: url("../img/head.png")
}